@import '../../sassStyles/variables';
@import '../../sassStyles//mixins';
@import '../../sassStyles/functions';

.burger-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    position: relative;
    padding: 0.2rem;
    cursor: pointer;

    &:hover &__line, &:hover &__line::before , &:hover &__line::after{
        background-color: getColor(helpers-success);
    }

    &:hover &__line.opened{
        background-color: transparent;
    }

    &__line{
        position: relative;
        width: 100%;
        height: 0.15rem;
        background-color: getColor(text-grey);
        border-radius: $rounded-border;
        @include transition( 0.4s , ease);
        &.opened{
            transform: translateX(-1rem);
            background-color: transparent;
        }
        &::before , &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 0.15rem;
            background-color: getColor(text-grey);
            border-radius: $rounded-border;
            @include transition( 0.4s , ease);
        }
        &::before{
            top: -0.5rem;
        }
        &::after{
            top: 0.5rem;
        }

        &.opened::before{
            transform: rotate(45deg) translate(1.1rem , -0.4rem);
        }
        &.opened::after{
            transform: rotate(-45deg) translate(1.1rem , 0.4rem);
        }
    }

}