@import '../../sassStyles/functions';
@import '../../sassStyles/animations';


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 8rem;
    overflow: hidden;
    //animation: slide-left 1.5s ease-in-out  forwards ;

    &__img-wrapper {
        display: flex;
        padding: 0.09rem;
        width: 10rem;
        margin-bottom: 1rem;
        
        .lamp
        {
            position: absolute;
            width: 330px;
            top: 0;
            left: 50%;
            z-index: -5;
            opacity: 1;
            transform: translateX(-50%);
            //-webkit-mask-image: -webkit-gradient(linear, right top, right bottom, from(rgba(255,255,255,1) ), to(transparent));
            mix-blend-mode: hard-light;
        }
        & img 
        {
            width: 100%;
            object-fit: cover;
        } 
    }
    
    &__title{
        color: getColor(text-main);
        margin-bottom: 1rem;
        text-align: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        & a{
            display: flex;
            padding: 0.5rem; 
            margin: 0.6rem;
            color: getColor(text-main);
            border-radius: 50%;
            background-color: getColor(elements-main-medium);
            transition: all 0.3s ease;
            cursor: pointer;
            
            &:hover{
                background-color: getColor(helpers-success);
                filter: drop-shadow(0px 0px 5px getColor(helpers-success));
                color: getColor(helpers-light);
            }

        }

    }

    &__cv {
        position: relative;
        margin-bottom: 1rem;
        transition: all 0.4s ease-in-out;

        .cross_line{
            display: inline-block;
            position: relative;
            padding: 1rem 2rem;
            border-top: solid 2px getColor(text-main);
            border-bottom: solid 2px getColor(text-main);
            text-decoration: none;
            font-weight: bold;
            color: getColor(text-main);
            transition: .3s;
        }
        .cross_line:before, .cross_line:after{
          content: '';
          position: absolute;
          top: -0.75rem;
          width: 2px;
          height: -webkit-calc(100% + 1.5rem);
          height: calc(100% + 1.5rem);
          background-color: getColor(text-main);
          transition: .3s;
        }
        .cross_line:before {left: 0.75rem;}
        .cross_line:after {right: 0.75rem;}
        .cross_line:hover:before{
          top: -2px;
          left:0;
          background-color: getColor(helpers-success);/* hover color */
          height: 104%;
        }
        .cross_line:hover:after{
          top: -2px;
          right: 0;
          background-color: getColor(helpers-success);/* hover color */
          height: 104%;
        }
        
        .cross_line:hover
        {
            color: getColor(helpers-success);/* hover color */
            border-color: getColor(helpers-success)getColor(text-main);/* hover color */
        }
        



    }


    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }
    &__btn-text{
        position: relative;
        z-index: 2;
        padding: 0 1.3rem;
        font-weight: 600;
        color: getColor(text-main);
        transition: all 0.4s ease-in-out;
    }
    &__btn-icon{
        display: flex;
        position: relative;
        z-index: 2;
        color: getColor(helpers-light);
        background-color: getColor(helpers-success);
        border-radius: 50%;
        padding: 0.8rem;
    }
}

// mobile devices
@media screen and (max-width:  767px ) {// [0 - 767]

}
// tablets and medium devices
@media screen and (max-width:  991px ) {// [768 - 991]

}
//desktop and large devices
@media screen and (max-width:  1200px ) {// [992 - 1200]

}
