@import 'sassStyles/global';
@import 'sassStyles/functions';
@import 'sassStyles/colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
    @extend %global;
}

:root { //default theme [Light theme] color variables
    @each $name, $color in $colors-light{
        --#{$name}:#{$color};
    }
    font-size: 20px;
}

:root[data-theme='dark']  //Dark theme color variables
{
    @each $name, $color in $colors-dark{
        --#{$name}:#{$color};
    }
    font-size: 20px;
}

body {
    font-family: 'nunito', sans-serif;
    min-height: 100vh;
    background-color: getColor(elements-main);
}


a {
    color: getColor(main-light);
    text-decoration: none;
}

.p-1 {
    padding: 0.8rem;
}


